nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    width: fit-content;
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    margin: 0 .75rem;
    
}

li:hover {
    cursor: pointer;
    transform: scale(1.03);
}