<div class="contenedor">
    <div class="contenido" id="imagen">
        <img src="assets/img/{{producto.genero}}/{{producto.imagen}}">
    </div>
    <div class="contenido" id="detalles">
        <p id="nombreproducto">
            <b>{{producto.nombre}} </b>
        </p>
        <p id="precioproducto">
            MXN {{producto.precio}}
        </p>
        <p id="descripcion">{{producto.descripcion}}</p>
        <p id="stock">Stock: {{producto.stock}}</p>

        <button class="boton">Añadir a mi cesta</button>
    </div>
</div>
