nav {
    background-color: rgba(240, 46, 170);
    color: white;
}

nav p {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

nav p:hover {
    cursor: pointer;
}